@import 'grid';
@import 'variables';
@import 'animaciones';


// Estilos generales
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

h1{
    color: $secundarios-azul;
    @include tipo (2.5rem, 500)
}

h2{
    color: $branding-azul;
    @include tipo (4rem, 600) 
}

h3{
    color: $branding-azul;
    @include tipo (2.5rem, 500) 
}

h4{
    color: $branding-azul;
    @include tipo (2rem, 500) 
}

p{
    color: $branding-azul;
    margin: 3.5rem 0 3.5rem 0;
    @include tipo (1.5rem, 400) 
}

.boton1{
    @include boton (1rem, 700, $branding-azul, $branding-amarillo);

    &:hover {
        @include boton (1rem, 700, $branding-azul, $secundarios-amarillo);
    }
}

.boton2{
    @include boton (1rem, 700, $branding-amarillo, $branding-azul);

    &:hover {
        @include boton (1rem, 700, $blanco, $secundarios-azul);
    }
}

.boton3{
    @include boton1;

    &:hover {
        @include boton1;
    }
}


//Estilos del header

header {
    background-color: $branding-amarillo;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__menu__items{
    display: flex;
    align-items: center;
    padding-top: 0.3rem;

    li{
        margin-left: 2rem;
    }

    a{
        color: $branding-azul;
        @include tipo (1rem, 600)
    }
}

    .header__redes__in{
        color: $branding-azul;
        margin-right: 1.5rem;

        &:hover {
            color: $secundarios-azul
        }

        i.fa-linkedin-in{
            font-size: 2rem;
        }
    }

    .header__redes__be{
        color: $branding-azul;
        margin-right: 1.5rem;
        
        &:hover {
            color: $secundarios-azul
        }

        i.fa-behance{
            font-size: 2rem;
        }

    }

// Estilos del Main

main{
    margin: 6rem 0 6rem 0;
}

    // Estilos seccion presentacion
    
section{
    display: flex;
    
    .presentacion__div1{
        background-color: $branding-amarillo;
    }

    .presentacion__div2{
        background-color: $branding-amarillo;
    }

}
.presentacion__info__boton{
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin: 0rem 0 6rem 0;
}


//Estilo de Experiencia laboral

.experiencia__h3{
    margin-bottom: 3rem;
}
.experiencia__elemento{
    @include caja;
    margin: 3rem 2rem;


}
